# .gitignore -- raiz do projeto tipi05-davilla

*.log
.DS_Store
Thumbs.db

src/.env
src/.env.backup
src/.env.production

src/.phpactor.json
src/.phpunit.result.cache
src/.fleet
src/.idea
src/.nova
src/.phpunit.cache
src/.vscode
src/.zed
src/auth.json

src/node_modules
src/vendor

src/public/build
src/public/hot
src/public/storage

src/storage/*.key
src/storage/pail
src/storage/logs/*.log

src/bootstrap/cache/*
!src/bootstrap/cache/.gitignore

_ide_helper.php
Homestead.json
Homestead.yaml
*:Zone.Identifier

# Backups locais do banco
backup/*.sql