/* TODO: RESOLVENDO IMAGENS DOS CAKES NA SERVICES */

.service-block .image img{
    height: stretch;
}


/* TODO: ARRUMANDO LOGO HEADER */
.main-header .main-box .logo {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 100;
    margin-left: -92.5px;   
}

.sticky-header .logo {
    top: 0px;
    width: 169px;
}

/* TODO: ARRUMANDO ??? */

.theme-btn.large {
    width: 350px;
}


.shopping-cart .cart-footer .theme-btn {
    float: right;
    margin-right: 50%;
}

/* TODO: ARRUMANDO BORDAS DAS IMAGENS NA PÁG PRICING / SABORES&VALORES*/
.pricing-table .image-box .image img{
    border: 2px solid #ff91a4;
    border-radius: 10px;
    display: inline-block;
}